@model ClinicMVCApp.Models.Patient
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container mt-4">
    <h4 class="mb-3">PERSONAL DETAILS</h4>
    <p>This screen allows the Patient to capture their Personal Details.</p>

    <form asp-action="Create">
        <div class="row g-3">
            <div class="col-md-4">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Surname" class="form-label">Surname</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="IDNumber" class="form-label">ID Number</label>
                <input asp-for="IDNumber" class="form-control" maxlength="13" />
                <span asp-validation-for="IDNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="row g-3 mt-3">
            <div class="col-md-4">
                <label asp-for="Gender" class="form-label">Gender</label>
                <select asp-for="Gender" class="form-select">
                    <option value="">Select</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="NumberOfChildren" class="form-label">Number of Children</label>
                <select asp-for="NumberOfChildren" class="form-select">
                    <option value="">Select</option>
                    @for (int i = 0; i <= 10; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span asp-validation-for="NumberOfChildren" class="text-danger"></span>
            </div>
        </div>

        <hr class="my-4" />

        <div class="row g-3">
            <div class="col-md-4">
                <label asp-for="HomeAddress" class="form-label">Home Address</label>
                <input asp-for="HomeAddress" class="form-control" />
                <span asp-validation-for="HomeAddress" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="City" class="form-label">City</label>
                <input asp-for="City" class="form-control" />
            </div>
            <div class="col-md-4">
                <label asp-for="Suburb" class="form-label">Suburb</label>
                <input asp-for="Suburb" class="form-control" />
            </div>
        </div>

        <div class="row g-3 mt-3">
            <div class="col-md-4">
                <label asp-for="Province" class="form-label">Province</label>
                <select asp-for="Province" class="form-select">
                    <option value="">Select</option>
                    <option>Gauteng</option>
                    <option>Western Cape</option>
                    <option>KwaZulu-Natal</option>
                    <option>Eastern Cape</option>
                    <option>Free State</option>
                    <option>Limpopo</option>
                    <option>Mpumalanga</option>
                    <option>North West</option>
                    <option>Northern Cape</option>
                </select>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="PostalCode" class="form-label">Postal Code</label>
                <input asp-for="PostalCode" class="form-control" maxlength="4" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>

        <div class="mt-4 text-end">
            <button type="submit" class="btn btn-primary px-4">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
